
 
<!-- needs to take topic and post local variable
 -->
<div class="media"
  <div class="media-body">
  <small>
    <%=link_to comment.user.name, comment.user %> commented <%= time_ago_in_words(comment.created_at) %> ago
    <% if policy(Post.new).create? %> 
    <% end %>
  </small>  
  </div>
  <p><%=comment.body%></p>
</div> 



 
