
<div class="pull-left.vote-arrows">
  <div>
  <%= link_to " ", '#', class: 'glypicon glyphicon-chevron-up' %>
  </div>

  <div>
    <strong><%= post.points %></strong>
  </div>

  <div>
  <%= link_to " ", '#', class: 'glypicon glyphicon-chevron-down' %>
  </div>
</div>

